.main {
  background-image: url('../assets/images/Feeder Profile.png');
  height: 1020px;
  width: 100vw;
}

.logoutButton {
  position: absolute;
  top: 807px;
  left: 38px;
  width: 300px;
  height: 45px;
  /* border: 1px solid red; */
}