@font-face {
  font-family: Raleway;
  src: url('../assets/fonts/Raleway/static/Raleway-Regular.ttf');
}
.container {
  background-image: url('../assets/images/map.png');
  height: 100vh;
  display: grid;
  grid-auto-columns: 100%;
  grid-template-rows: 60px 300px;
}
.hasDestination {
  background-image: url('../assets/images/TakeMeThere.png');
}
.item {
  /* border: 1px solid black; */
  text-align: center;
}
.distCenterTrigger {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 270px;
  left: 240px;
}
.listViewIcon {
  height: 47px;
  width: 47px;
  background-image: url('../assets/images/listviewIcon.png');
  background-size: 100% 100%;
  border-radius: 7px 7px;
  position: fixed;
  top: 679px;
  left: 32px;
}