.main {
  background-color: #e8e7e5;
  height: 100vh;
  display: grid;
  grid-auto-columns: 100%;
  grid-template-rows: 350px 50px 40px 190px 20px;
  padding: 0em 0px;
}

.welcome {
  color: #ea861e;
  letter-spacing: 0.25em;
  font-size: 3em;
}

.welcomeMessage {
  letter-spacing: 0.01em;
  font-size: 2em;
  color: #436026;
}

.distBt {
  background: linear-gradient(90deg, #d97208 0%, #d97208 50%, #ff8200 100%);
  border: none;
  border-radius: 5pt;
  font-size: 1.25em;
  color: white;
}

.deleveryBt {
  background: linear-gradient(
    270deg,
    rgba(107, 214, 0, 1) 0%,
    rgba(54, 103, 5, 1) 64%,
    rgba(42, 93, 0, 1) 100%
  );
  border: none;
  border-radius: 5pt;
  font-size: 1.25em;
  color: white;
}
