.main {
  background-image: url('../assets/images/Health Check.png');
  height: 812px;
  width: 100vw;
}

#agreeBtnLink {
  position: absolute;
  top: 361px;
  left: 45px;
  width: 130px;
  height: 45px;
  /* border: 1px solid red; */
}
#agreeBtnLink:hover {
  position: absolute;
  top: 361px;
  left: 45px;
  width: 130px;
  height: 45px;
  border: 2px solid orange;
  border-radius: 7px
}