.main {
  background-color: #f7f7f7;
  height: 100vh;
  display: grid;
  grid-auto-columns: 100%;
  grid-template-rows: auto;
  padding: 0em 45px;
}

.item {
}

.headerColor {
  color: #ea861e;
}

.input {
}

.input::placeholder {
  color: #8d8d8d;
}

.signUpButton {
  background: linear-gradient(
    270deg,
    rgba(107, 214, 0, 1) 0%,
    rgba(54, 103, 5, 1) 64%,
    rgba(42, 93, 0, 1) 100%
  );
  color: white;
  border-radius: 5pt;
  font-size: 1.25em;
}
